name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t portfolio .

      - name: Restart Portfolio Container
        run: |
          cd srv/apps/portfolio
          docker compose down
          docker compose up -d
