name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy using Docker Compose
        run: |
          cd /srv/apps/portfolio
          docker compose down
          docker compose up -d --build